<!DOCTYPE html>
<html>

<head>
    <title>Aboba</title>
    <link rel="icon" type="image/x-icon" href="logo 1.svg" />
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Fonts Google -->
    <link rel="preconnect" href="https://fonts.bunny.net">
    <link href="https://fonts.bunny.net/css?family=poppins:400,500,600" rel="stylesheet" />
    <style>
        body {
            font-family: 'Poppins', sans-serif;
        }
    </style>
</head>

<body>

    <!--Navbar-->
    <nav class="bg-[#302a2d] py-1 flex justify-between items-center px-[120px]">
        <div class="flex items-center">
            <img src="logo 1.svg" />
            <h1 class="text-white text-2xl my-auto">ABOBA</h1>
        </div>
        <ul class="flex gap-[25%] text-white rounded hover:bg-[#000000] hover:text-white">
            <li><a href="index.html">Home</a></li>
            <li><a href="menu.html">Menu</a></li>
            <li><a href="">Contact</a></li>
        </ul>
    </nav>

    <!-- Menu -->
    <h1 class="text-center text-2xl my-8">Our Menu</h1>
    <div class="container mx-auto grid grid-cols-3 gap-4 justify-items-center">
        <div class="rounded-lg bg-[#302A2D] w-[80%] py-5">
            <img src="Screenshot (4) 1.png" alt="Food 1" class="mx-auto my-4 rounded">
            <h1 class="text-white text-center text-2xl py-2">Signature Matcha <br> Dalgona</h1>
            <h1 class="text-white text-center text-2xl pb-4">10K</h1>
            <button class="bg-[#E1C3A7] hover:bg-[#a88462] text-white font-bold py-2 px-4 rounded-lg w-165 mx-auto block">Order</button>
        </div>
        <div class="rounded-lg bg-[#302A2D] w-[80%] py-5">
            <img src="Screenshot (7) 1.png" alt="Food 2" class="mx-auto my-4 rounded">
            <h1 class="text-white text-center text-2xl py-2">Salted Caramel <br> Grass Jelly</h1>
            <h1 class="text-white text-center text-2xl pb-4">20K</h1>
            <button class="bg-[#E1C3A7] hover:bg-[#a88462] text-white font-bold py-2 px-4 rounded-lg w-165 mx-auto block">Order</button>
        </div>
        <div class="rounded-lg bg-[#302A2D] w-[80%] py-5">
            <img src="Screenshot (8) 1.png" alt="Food 3" class="mx-auto my-4 rounded">
            <h1 class="text-white text-center text-2xl py-2">Milk Grass Jelly</h1>
            <h1 class="text-white text-center text-2xl pb-4">15K</h1>
            <button class="bg-[#E1C3A7] hover:bg-[#a88462] text-white font-bold py-2 px-4 rounded-lg w-165 mx-auto block">Order</button>
        </div>

        <div class="rounded-lg bg-[#302A2D] w-[80%]">
            <img src="Screenshot (4) 1.png" alt="Food 1" class="mx-auto my-4 rounded">
            <h1 class="text-white text-center text-2xl py-2">Signature Matcha <br> Dalgona</h1>
            <h1 class="text-white text-center text-2xl pb-4">10K</h1>
            <button
                class="bg-[#E1C3A7] hover:bg-[#a88462] text-white font-bold py-2 px-4 rounded-lg w-165 mx-auto block">Order</button>
        </div>
        <div class="rounded-lg bg-[#302A2D] w-[80%] py-5">
            <img src="Screenshot (7) 1.png" alt="Food 2" class="mx-auto my-4 rounded">
            <h1 class="text-white text-center text-2xl py-2">Salted Caramel <br> Grass Jelly</h1>
            <h1 class="text-white text-center text-2xl pb-4">20K</h1>
            <button
                class="bg-[#E1C3A7] hover:bg-[#a88462] text-white font-bold py-2 px-4 rounded-lg w-165 mx-auto block">Order</button>
        </div>
        <div class="rounded-lg bg-[#302A2D] w-[80%] py-5">
            <img src="Screenshot (8) 1.png" alt="Food 3" class="mx-auto my-4 rounded">
            <h1 class="text-white text-center text-2xl py-2">Milk Grass Jelly</h1>
            <h1 class="text-white text-center text-2xl pb-4">15K</h1>
            <button
                class="bg-[#E1C3A7] hover:bg-[#a88462] text-white font-bold py-2 px-4 rounded-lg w-165 mx-auto block">Order</button>
        </div>
    </div>

    <footer class="w-full bg-[black] mt-5">
        <h4 class="text-center text-white pt-5">Copyright Aboba 2023</h4>
    </footer>
</body>

</html>